
    <div class="row">
      <div align="center" class="col-md-6">
        <p align="center" id="avatar"><%= image_tag "https://avatars2.githubusercontent.com/u/#{current_user.uid}?v=3&amp;s=150" %></p>
        <h2>Welcome, <%= current_user.name %></h2>
        <p align="center">Username: <%= current_user.username %></p>
		  </div>

      <div class="profile" class="col-md-6 ">
		  	<h2>Repositories</h2>
        <p>Starred: <%= @repo_count %></p>
        <p>Total: <%= @repos.count %></p>

		 		<p>Ut tristique adipiscing mauris, sit amet suscipit metus porta quis. Donec dictum tincidunt erat, eu blandit ligula. Nam sit amet dolor sapien. Quisque velit erat, congue sed suscipit vel, feugiat sit amet enim.</p>
      </div>
    </div>
